<form class="" action="/results">
  <div class="form-group">
    <label for="first-phrase">Enter a word or phrase:</label>
    <input type="text" id="first-phrase" name="" class="form-control">
    <label for="second-phrase">Enter a word or phrase:</label><br>
    <input type="text" id="second-phrase" name="" class="form-control">
  </div>
  <button type="submit" name="reveal" class="btn">reveal</button>
</form>
