<form class="" action="/results">
  <div class="form-group">
    <label for="first-phrase">Enter a word or phrase:</label>
    <input type="text" id="first_phrase" name="first_phrase" class="form-control">
    <label for="second-phrase">Enter a word or phrase:</label><br>
    <input type="text" id="second_phrase" name="second_phrase" class="form-control">
  </div>
  <button type="submit" class="btn">Reveal</button>
</form>
